ig
server

dist
build
.build
logfile
.nyc_output
coverage
.yarn/*
next/out

.git/*
.gitkeep
.DS_Store
.npmrc
.nvmrc
.yarnclean
.eslintignore
.prettierignore
.upignore
.npmignore
.gitignore
.dockerignore
.yarnrc
.haxt
.flowconfig
.firebaserc
.graphqlconfig
.editorconfig
.next
_next
.serverless
.lighthouserc
.gitkeep
.pages
.cache
.buckconfig
.gitattributes

license
yarn.lock
yarn-error.log
Dockerfile.*
Dockerfile
BUCK
gradlew

_env*
.env.*
*.env
*.ico
*.html
*.xml
*.log
*.svg
*.map
*.png
*.snap
*.txt
*.sketch
*.ttf
*.eot
*.ttf
*.woff
*.woff2
*.out
*.dms
*.sh
*.tar.gz
*.pem
*.jpg
*.gif
*.graphcool
*.re
*.wasm
*.yml
*.toml
*.jar
*.zip
*.preview.*
*.tgz
*.gradle
*.properties
*.bzl
*.java
*.bat
*.plist
*.pbxproj
*.xcscheme
*.h
*.m
*.xib
*.pro
*.xcassets
*.mp4
*.prisma
*.lock
*.diff
*.hbs
*.pro